<div class="myContainer">
    <form class="">
        <h2>Login</h2>
        <div class="mb-3 eee">
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="mb-3">
            <div class="form-control pass">
            <input type="password" placeholder="********">
                <i class="fa-regular fa-eye"></i></div>
            <div id="emailHelp" class="form-text">Forgot password?</div>
        </div>
        <div class="top-content">
        <div class="mb-3 form-check checkbox">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep me signed in</label>
        </div>
        <button type="submit" class="btn">Invia</button>
    </div>
    <div class="bottom-content">
            <div class="divider"></div>
            <div>Don’t have an account? <a routerLink="/">Sign up now</a></div>
        </div>
    </form>
    <div class="child-img">
        <img src="assets/images/child.png" alt="child">
    </div>
</div>