<div class="myContainer">
    <section class="circles">
        <div class="circle">
            <div class="num">1</div>
            <div class="circle-content">Create Account</div>
        </div>
        <div class="divider"></div>
        <div class="circle">
            <div class="num">2</div>
            <div class="circle-content">Billing data</div>
        </div>
        <div class="divider"></div>
        <div class="circle">
            <div class="num">3</div>
            <div class="circle-content">Choose your plan</div>
        </div>
        <div class="divider num-bg"></div>
        <div class="circle">
            <div class="num num-bg">4</div>
            <div class="circle-content">Payment</div>
        </div>
    </section>

    <section class="content">
        <h2>What plan do you want?</h2>
        <p>Choose one of the plans below <span>*</span></p>
    </section>


    <div class="card-horizontal row g-0 bg-white mx-auto">
        <div class="col-md-4 col-sm-6">
            <div class="hori-top-content">
                <h3>Bits</h3>
                <i class="fa-regular fa-user"></i>
            </div>
            <p class="p">Start using Nesplora</p>
        </div>
        <div class="col-md-5 col-sm-6">
            <span class='number'>€ 25,00</span>
            <p class="para">Single use plan</p>
            <p>€ 100 initial registration</p>
        </div>
        <div class="col-md-3 col-sm-10 text-sm-center">
            <button class="btn-blue btn-started text-white">GET STARTED</button>
        </div>
    </div>

    <div class="btns mx-auto my-5">
        <button class="one">Monthly</button>
        <button class="two">Annual</button>
    </div>


    <section class="v-cards">
    <div class="card-vertical">
        <div class="v-card">
            <h3 class="fs-1">Essential</h3>
            <i class="fa-regular fa-user"></i>
        </div>
        <p class="my-4">Use Nesplora with a price and service advantage</p>
        <div class="v-price">€ 90,00</div>
        <p>7 uses/month</p>
        <button>GET STARTED</button>
    </div>

    <div class="card-vertical">
        <div class="v-card">
            <h3 class="fs-1">Professional</h3>
            <i class="fa-regular fa-user"></i>
        </div>
        <p class="my-4">Get the most out of Nesplora and take advantage of the flat usage fee</p>
        <div class="v-price">€ 150,00</div>
        <p>Unlimited uses</p>
        <button>GET STARTED</button>
    </div>
</section>
<div class="bottom">
    <p>* Plans do not include taxes</p>
    <div>
        <input type="checkbox" class="form-check-input">&nbsp;
        I accept the <span>general contracting conditions.</span></div>
</div>
</div>