<div class="myContainer">
    <h3>My Subscription</h3>
    <div class="myCards">
        <div class="myCard">
            <div class="top-content">
                <h2>Active Plan</h2>
                <button type="button" class="btn-blue">Active</button>
            </div>
            <h5>Essential</h5>
            <div class="mid-content">
                <div class="fs-4">Monthly Plan</div>
                <div class="inner-mid">
                    <h5>Uses until<span class="num1">+ 5</span></h5>
                    <div class="date">Jan 10, 2023</div>
                </div>
            </div>
            <div class="mid-content mt-4">
                <div class="fs-4">7 uses/month</div>
                <div class="inner-mid">
                    <h5>Additional<span class="num2">+ 2</span></h5>
                </div>
            </div>


            <section>
                <button type="button" class="btn-light">Automatic renewal</button>
                <i class="fa-solid fa-circle-info"></i>
            </section>

            <section class="bottom">
                <ul>
                    <li>Start</li>
                    <li>Jan 10, 2022</li>
                </ul>
                <ul>
                    <li>Expiration</li>
                    <li>Jan 10, 2023</li>
                </ul>
                <ul>
                    <li>Price</li>
                    <li>$90/month</li>
                </ul>
            </section>
        </div>
        <div class="myCard2">
            <h2>Change your plan</h2>
            <p>Get the most out of Nesplora and take advantage of the flat <strong>usage fee.</strong></p>
            <p>The change will take effect at the end of your plan on Jan 10, 2023.</p>
            <button type="button" class="btn-yellow">CHANGE PLAN</button>
        </div>
        <div class="myCard2">
            <h2>Buy additional uses</h2>
            <div>Insert the quantity&nbsp;&nbsp;-&nbsp;&nbsp;<span>1</span>&nbsp;&nbsp;+</div>
            <p class="pound">€ 25,00</p>
            <button type="button" class="btn-yellow btn-yellow-2">ORDER</button>
        </div>
    </div>

    <section class="content">
        Which plan do you prefer?
    </section>

    <div class="card-horizontal row g-0 bg-white mx-auto">
        <div class="col-md-4 col-sm-6">
            <div class="hori-top-content">
                <h3>Bits</h3>
                <i class="fa-regular fa-user"></i>
            </div>
            <p class="p">Start using Nesplora</p>
            <span class='number'>€ 25,00</span>
            <p class="p">Single use plan</p>
            <p>€ 100 initial registration</p>
        </div>
        <div class="col-md-5 col-sm-6">
            <ul>
                <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Attention Kids Aula</li></div>
                <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Attention Kids Aula School</li></div>
                <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Attention Kids Aula Aquarium</li></div>
                <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Executive Functions IceCream</li></div>
                <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Memory Suite</li></div>
                <div class="tick"><i class="fa-solid fa-circle-check"></i><li class="li-bold">Standard Technical support:<br>Customer service by email</li></div>
            </ul>
        </div>
        <div class="col-md-3 col-sm-10 text-sm-center">
            <button class="btn-blue btn-started">GET STARTED</button>
        </div>
    </div>

    <div class="btns mx-auto my-5">
        <button class="one">Monthly</button>
        <button class="two">Annual</button>
    </div>


    <section class="v-cards">
    <div class="card-vertical">
        <div class="v-card">
            <h3 class="fs-1">Essential</h3>
            <i class="fa-regular fa-user"></i>
        </div>
        <p class="my-4">Use Nesplora with a price and service advantage</p>
        <div class="v-price">€ 270,00</div>
        <p>Quarterly plan<br>22 uses</p>
        <button>KEEP CURRENT PLAN</button>
        <ul>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Attention Kids Aula</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Attention Kids Aula School</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Attention Kids Aula Aquarium</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Executive Functions IceCream</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Memory Suite</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li class="fw-bold">Free registraion fee</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li class="fw-bold">Preminum etchnical support:</li></div>
            <div class="tick"><li class="fw-bold text-white ms-5">Customer service by email and dedicated phone line</li></div>
        </ul>
    </div>
    <div class="card-vertical">
        <div class="v-card">
            <h3 class="fs-1">Professional</h3>
            <i class="fa-regular fa-user"></i>
        </div>
        <p class="my-4">Get the most out of Nesplora and take advantage of the flat usage fee</p>
        <div class="v-price">€ 1600,00</div>
        <p>Unlimited uses</p>
        <button>GET STARTED</button>
        <ul>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Attention Kids Aula</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Attention Kids Aula School</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Attention Kids Aula Aquarium</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Executive Functions IceCream</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li>Memory Suite</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li class="fw-bold">Unlimited uses</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li class="fw-bold">Free registraion fee</li></div>
            <div class="tick"><i class="fa-solid fa-circle-check"></i><li class="fw-bold">Preminum etchnical support:</li></div>
            <div class="tick"><li class="fw-bold text-white ms-5 ">Customer service by email and dedicated phone line</li></div>
        </ul>
    </div>
</section>
</div>