<footer class="">
    <div class="myContainer">
    <div class="top row g-0 text-center">
        <ul class="col-md-4">
            <li>
                <h3>A PRODUCT BY</h3>
            </li>
            <li><img src="../../../assets/images/Giunti-White.svg" alt="giunti logo"></li>
        </ul>
        <ul class="col-md-4">
            <li><h3>Customer Support</h3></li>
            <li>info@nesplora.com</li>
            <li>20012 Donostia, San Sebastián</li>
        </ul>
        <ul class="col-md-4">
            <li><h3>DISCOVER MORE ABOUT NESPLORA</h3></li>
            <div class="icons">
                <li class="icon">
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li class="icon">
                    <i class="fa-brands fa-facebook-f"></i>
                </li>
                <li class="icon">
                    <i class="fa-brands fa-linkedin-in"></i>
                </li>
                <li class="icon">
                    <i class="fa-brands fa-twitter"></i>
                </li>
                <li class="icon">
                    <i class="fa-brands fa-youtube"></i>
                </li>
            </div>
        </ul>
    </div>
</div>
<div class="bottom">
    <span>© 2021 Nesplora S.L.</span>
</div>
</footer>